{% extends 'base.html.twig' %}

{% block title %}List of Emails Sent{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>List of Emails Sent</h1>

    <a href="{{ path('app_send_mail_contact') }}" class="btn btn-primary">Send Email to Contacts</a>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Date</th>
                <th>Recipients</th>
                <th>Subject</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for mail in mails %}
            <tr>
                <td>{{ mail.dateEnvoi|date('d/m/Y') }}</td>
                <td>
                    {% for desti in mail.contacts %}
                        {{ desti.emailContact }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ mail.objet }}</td>
                <td>
                    <a href="{{ path('app_mail_contact_delete', {'id': mail.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
