{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>Envoyer un mail</h1>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        <div class="mb-3">
            {{ form_label(form.objet, 'Objet', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.objet, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.objet, {'attr': {'class': 'form-text text-danger'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.message, 'Message', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.message, {'attr': {'class': 'form-text text-danger'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.destinataire, 'Destinataire', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.destinataire, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.destinataire, {'attr': {'class': 'form-text text-danger'}}) }}
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
