{% extends 'base.html.twig' %}


{% block body %}
    <div class="container mt-5">
        <h1>Envoyer un mail</h1>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="mb-3">
            {{ form_row(form.objet, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.destinataire, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
        {{ form_end(form) }}
    </div>


{% endblock %}
